.navbar {
	width: 100%;
	margin: auto;
	display: flex;
	background: linear-gradient(30deg, rgba(24,24,24, 1), blue);
	border: 1px solid #909090;
}

.ul--navbar {
	width: 100%;
	display: flex;
	justify-content: right;
}

.ul--navbar li {
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
}

.link--tag {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: bold;
	color: cyan;
}